<template>
  <div class="mobile-reg-top container">
    <div class="row">
      <div class="col-md-5 col-sm-12 justify-content-center pt-md-none">
        <div class="d-sm-none pb-5 pt-5">
          <router-link
            :to="{ name: 'landing-page' }"
            class="text-danger col-md-12"
          >
            <img
              src="./../../../assets/images/left-arrow.svg"
              alt=""
              width="16px"
            />
            Go Back Home
          </router-link>
        </div>
      </div>
    </div>
    <div class="row mobile-reg-bottom">
      <div class="col-12">
        <div class="row">
          <div
            class="col-12 col-md-5 col-sm-12 justify-content-center pt-5 pr-sm-0"
          >
            <img
              src="./../../../assets/images/undraw_deliveries_131a.svg"
              alt=""
              width="80%"
              class="mt-5 pt-0 pt-md-5"
            />
          </div>
          <div class="col-12 col-md-7 pt-3 box pr-sm-0">
            <div class="col-sm-12">
              <div class="col-md-12">
                <form action="">
                  <div class="col-md-12 text-center mb-0">
                    <h4 class="form-header-text text-center mb-4 mt-3">
                      REGISTER
                    </h4>
                  </div>
                  <div class="form-group mb-2 mt-2 mb-sm-3">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Full Name"
                    />
                  </div>
                  <div class="form-group mb-2 mb-sm-3">
                    <label for="email" class="sr-only">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group mb-2 mb-sm-3 password-div">
                    <label for="password" class="sr-only">Password</label>
                    <input
                      :type="passwordType"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                    />
                    <small @click="togglePassword" class="toggle-password">{{
                      show
                      }}</small>
                  </div>
                  <div class="form-group mb-2 mb-sm-3">
                    <label for="telephone" class="sr-only">Telephone</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="telephone"
                      placeholder="Telephone"
                    />
                  </div>
                </form>
                <router-link :to="{ name: 'verification' }">
                  <button class="col-md-12 col-sm-12 btn blue-btn mt-3">
                    REGISTER
                  </button>
                </router-link>
                <div class="col-md-12 pt-2 pb-5">
                  <router-link
                    :to="{ name: 'login' }"
                    class="text-center green-auth-text"
                  >Already have an account? Click to login</router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      show: "show",
      passwordType: "password"
    };
  },
  methods: {
    togglePassword() {
      if (this.show === "show") {
        this.show = "hide";
        this.passwordType = "text";
      } else {
        this.show = "show";
        this.passwordType = "password";
      }
      document.getElementById("password").focus();
    }
  }
};
</script>

<style scoped>
@media screen and (max-width: 576px) {
  .text-danger {
    color: white !important;
  }
}
</style>
