<template>
  <nav class="navbar navbar-expand-lg bg-transparent">
    <a class="navbar-brand" href="#"
      ><img src="../../assets/images/mit.png" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Track Packages <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'register' }"> Get Started</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "GuestNavigation"
};
</script>

<style scoped>
@media only screen and (min-width: 576px) {
  .navbar.navbar-expand-lg {
    padding-left: 15%;
    padding-right: 15%;
  }
}
</style>
