<template>
  <div>
    <div :style="'background: ' + color" class="box">
      <div class="row pr-3 pl-2 pl-sm-0 pr-sm-0">
        <div class="col-10 pb-0 pl-4 pr-4 pt-3 pt-sm-4 text-left">
          <h6 class="pl-sm-2 mb-0" id="title">
            {{ data.title }}
          </h6>
          <small class="pb-0 pl-sm-2 pb-sm-2" id="sub-text">
            {{ data.subTitle }}
          </small>
        </div>
      </div>
      <div class="col-md-12 text-center pb-2 pb-sm-2">
        <span id="count"> {{ data.sign }}{{ data.count }} </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DataBox",
  props: ["color", "data"]
};
</script>

<style scoped>
.box {
  width: 100%;
  box-shadow: none;
  border-radius: 10px;
  color: white;
  font-family: "Roboto Condensed", Helvetica, serif;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}

#title {
  font-size: 1.1em;
  font-weight: bold;
}

#count {
  font-weight: bold;
  font-size: 2em;
  font-family: "Roboto Condensed", Helvetica, Arial, serif;
  line-height: 63px;
}

@media screen and (min-width: 576px) {
  .box:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .box {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.4s ease-in-out;
  }

  .box:active {
    box-shadow: none;
  }
}
</style>
