<template>
  <div>
    <div class="col-12 activity-box p-3">
      <div class="row">
        <div class="col-7 col-sm-9 col-md-9">
          <h5 class="pb-1 mb-0">Brown Lace Up Boots</h5>
          <small class="pb-1" id="address">14B Mobolaji Bank Anthony way, Ikeja, Lagos</small
          ><br />
          <small class="text-danger">Pending</small>
        </div>
        <div class="col-5 col-sm-3 col-md-3 p-3 pt-2 text-right">
          <h4 class="">N2000<span class="badge badge-info ml-3" @click="deliveryDetailsInfo(1)">More Details</span></h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DeliveryDataBox",
  methods: {
	  deliveryDetailsInfo(id) {
	  	this.$emit('moreDetails', id);
    }
  }
};
</script>

<style scoped>
h5 {
  font-weight: bold;
}

.text-danger {
  font-weight: bold;
}

.badge:hover {
  cursor: pointer;
}

#address {
  line-height: 1;
}

@media screen and (max-width: 576px){
  #address {
    line-height: 20%;
  }
}
</style>
