<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 mb-3 mb-md-0">
        <button class="col-12 grey-btn">
          COMPLAIN
        </button>
      </div>
      <div class="col-12 col-sm-12 col-md-6 mb-3 mb-md-0">
        <button class="col-12 red-btn">
          CANCEL ORDER
        </button>
      </div>
    </div>
    <div class="row mt-1 mt-md-3 mb-1">
      <div class="col-12 text-center">
        <h5 class="title-header section-header mt-4 mb-1">PICK-UP DETAILS</h5>
      </div>
    </div>
    <div class="row mt-3 mt-md-5 mb-3 pb-4 section-of-information">
      <div class="col-6 text-left">
        <h5 class="title section-header">Tracking ID</h5>
        <div class="col-12 pl-0">
          <h4>AF12FW3</h4>
        </div>
      </div>
      <div class="col-6 text-left">
        <h5 class="title section-header">Pick-Up Address</h5>
        <div class="col-12 pl-0">
          <h4>25, Alhaji Sanusi street, Illoro Agege,
            Lagos</h4>
        </div>
      </div>
    </div>
    <div class="row mt-1 mt-md-3 mb-1">
      <div class="col-12 text-center">
        <h5 class="title-header section-header mt-4 mb-3">CUSTOMER DETAILS</h5>
      </div>
    </div>
    <div class="row mt-2 mb-4 pb-3 section-of-information">
      <div class="col-6 text-left mb-1">
        <h6 class="title mb-2">Name</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>Oyebola Sodiq</h6>
        </div>
      </div>
      <div class="col-6 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Email</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>oyebola.sd@gmail.com</h6>
        </div>
      </div>
      <div class="col-6 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Telephone</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>+2347013962190</h6>
        </div>
      </div>
      <div class="col-6 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Address</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>14B Mobolaji Bank Anthony way, Ikeja, Lagos</h6>
        </div>
      </div>
    </div>
    <div class="row mt-1 mt-md-3 mb-1 pt-3">
      <div class="col-12 text-center">
        <h5 class="title-header section-header">PACKAGE DETAILS</h5>
      </div>
    </div>
    <div class="row mt-2 ">
      <div class="col-12 text-left mb-1">
        <h6 class="title title-sub-header mb-2">Item 1</h6>
        <div class="col-12 pl-0 pt-0"></div>
      </div>
      <div class="col-6 text-left mb-1">
        <h6 class="title mb-2">Name</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>Brown Lace Up Boots</h6>
        </div>
      </div>
      <div class="col-6 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Fragile</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>No</h6>
        </div>
      </div>
      <div class="col-12 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Description</h6>
        <div class="col-12 pl-0 pt-0">
          <h6>This product is a brown lace up Jack and Jones boot</h6>
        </div>
      </div>
      <div class="col-12 text-left mb-2 mb-md-3">
        <h6 class="title mb-2">Dimensions</h6>
        <div class="col-12">
          <div class="row">
            <div class="col-6 col-sm-3">
              <div class="row">
                <div class="col-12 pl-0 pt-0">
                  <h6>
                    <span class="font-weight-bold">Height</span> <br />
                    20 Inches
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-3">
              <div class="row">
                <div class="col-12 pl-0 pt-0">
                  <h6>
                    <span class="font-weight-bold">Width</span> <br />
                    5 Inches
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-3">
              <div class="row">
                <div class="col-12 pl-0 pt-0">
                  <h6>
                    <span class="font-weight-bold">Breadth</span> <br />
                    7 Inches
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-3">
              <div class="row">
                <div class="col-12 pl-0 pt-0">
                  <h6>
                    <span class="font-weight-bold">Weight</span> <br />
                    45Kg
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DeliveryDetails"
};
</script>

<style scoped>
.title {
  color: rgba(89, 122, 240, 0.6);
  font-size: 1em;
  font-weight: bold;
}

.title.title-sub-header {
  color: rgb(89, 122, 240);
  font-size: 1.05em;
}

.title-header {
  color: #597af0;
  font-size: 1em;
  font-weight: bold;
}
.title-header.section-header {
  font-size: 1.4em;
}

.section-of-information {
  border-bottom: 1px solid rgba(154, 159, 191, 0.5);
}
</style>
