<template>
  <div class="footbar-content text-center pt-2">
    <div>
      <router-link :to="{ name: 'client-dashboard' }" class="section">
        <div class="">
          <div class="">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.2633 23.3945C3.2633 23.3945 3.24199 24.0001 3.76604 24.0001C4.418 24.0001 9.81578 23.992 9.81578 23.992L9.82467 18.397C9.82467 18.397 9.7394 17.4747 10.5326 17.4747H13.0427C13.9807 17.4747 13.923 18.397 13.923 18.397L13.9123 23.974C13.9123 23.974 19.0303 23.974 19.8341 23.974C20.4994 23.974 20.4692 23.2201 20.4692 23.2201V12.9053L12.1234 4.52637L3.2633 12.9053C3.2633 12.9053 3.2633 23.3945 3.2633 23.3945Z"
                fill="#23314E"
              />
              <path
                d="M0 12.1253C0 12.1253 0.752332 13.6902 2.39289 12.1253L12.1972 2.76391L21.3895 12.0672C23.2885 13.613 24 12.0672 24 12.0672L12.1972 0L0 12.1253Z"
                fill="#23314E"
              />
              <path
                d="M21.1665 2.7417H18.802L18.8118 5.97779L21.1665 8.23243V2.7417Z"
                fill="#23314E"
              />
            </svg>
          </div>
          <div class="">
            <small class="text-center">
              Dashboard
            </small>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-deliveries' }" class="section">
        <div class="">
          <div class="">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.4348 4.66187H20.6878C20.9182 4.29654 21.0703 3.88646 21.1136 3.45276C21.2521 2.06671 20.5235 0.824205 19.2829 0.273344C18.1427 -0.233001 16.8612 -0.0260118 15.9385 0.812371L13.7326 2.81512C13.303 2.34441 12.6854 2.04858 12 2.04858C11.3134 2.04858 10.6948 2.34535 10.2651 2.81751L8.05634 0.812136C7.13211 -0.0262466 5.85121 -0.232438 4.71144 0.273625C3.47123 0.824533 2.74242 2.06746 2.88135 3.45346C2.92481 3.88683 3.07678 4.29673 3.30717 4.66187H1.5652C0.700733 4.66187 0 5.36389 0 6.22984V8.58181C0 9.01476 0.35039 9.36581 0.782623 9.36581H23.2174C23.6496 9.36581 24 9.0148 24 8.58181V6.22984C24 5.36389 23.2992 4.66187 22.4348 4.66187ZM9.65215 4.40055V4.66187H5.97046C4.99771 4.66187 4.23215 3.75343 4.4751 2.73886C4.58212 2.29206 4.90405 1.91118 5.32044 1.71837C5.89222 1.45363 6.5256 1.53862 7.00583 1.97406L9.65281 4.37745C9.65267 4.3852 9.65215 4.3928 9.65215 4.40055ZM19.5606 3.24459C19.5023 4.05945 18.7675 4.66196 17.9521 4.66196H14.3478V4.40064C14.3478 4.39139 14.3472 4.38224 14.3471 4.37299C14.9468 3.82846 16.2476 2.64738 16.9531 2.00674C17.3541 1.64268 17.9151 1.47274 18.4337 1.6277C19.178 1.85009 19.615 2.48411 19.5606 3.24459Z"
                fill="#23314E"
              />
              <path
                d="M1.56519 10.9336V22.4321C1.56519 23.2981 2.26592 24.0001 3.13039 24.0001H10.4347V10.9336H1.56519Z"
                fill="#23314E"
              />
              <path
                d="M13.5652 10.9336V24.0001H20.8695C21.734 24.0001 22.4347 23.2981 22.4347 22.4321V10.9336H13.5652Z"
                fill="#23314E"
              />
            </svg>
          </div>
          <div class="">
            <small class="text-center">
              Deliveries
            </small>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-create-delivery' }" class="section circle">
        <div class="">
          <div class="">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 0C5.38338 0 0 5.38292 0 12C0 18.6171 5.38338 24 12 24C18.6166 24 24 18.6171 24 12C24 5.38292 18.6166 0 12 0ZM17.7692 12.9231H12.9231V18C12.9231 18.5095 12.5095 18.9231 12 18.9231C11.4905 18.9231 11.0769 18.5095 11.0769 18V12.9231H6.23077C5.72123 12.9231 5.30769 12.5095 5.30769 12C5.30769 11.4905 5.72123 11.0769 6.23077 11.0769H11.0769V6.46154C11.0769 5.952 11.4905 5.53846 12 5.53846C12.5095 5.53846 12.9231 5.952 12.9231 6.46154V11.0769H17.7692C18.2788 11.0769 18.6923 11.4905 18.6923 12C18.6923 12.5095 18.2788 12.9231 17.7692 12.9231Z"
                fill="black"
              />
            </svg>
          </div>
          <div class="">
            <small class="text-center">
              Create
            </small>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-wallet' }" class="section">
        <div class="">
          <div class="">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.9681 15.9427C13.86 15.8445 13.7233 15.7711 13.582 15.7099C13.2744 15.5769 12.938 15.4962 12.604 15.4233V17.5702C13.1462 17.5194 13.7686 17.3562 14.0533 16.9364C14.1891 16.7358 14.2162 16.4894 14.1608 16.2662C14.1308 16.1452 14.0688 16.0342 13.9681 15.9427Z"
                fill="black"
              />
              <path
                d="M14.0503 16.9428C14.0517 16.9405 14.0524 16.939 14.0539 16.9365C14.0527 16.9386 14.0515 16.9407 14.0503 16.9428Z"
                fill="black"
              />
              <path
                d="M10.0606 12.5108C9.96737 12.6237 9.90889 12.752 9.89275 12.8883C9.87661 13.0249 9.88567 13.1769 9.94824 13.3055C10.0078 13.428 10.1326 13.5185 10.2614 13.5913C10.406 13.6729 10.5649 13.7366 10.7269 13.7906C10.8627 13.8359 11.0155 13.8793 11.1802 13.9212V11.9785C10.7641 12.0522 10.3095 12.2094 10.0606 12.5108Z"
                fill="black"
              />
              <path
                d="M14.0641 16.9204C14.0605 16.9257 14.0567 16.9312 14.053 16.9371C14.0574 16.9303 14.0608 16.9253 14.0641 16.9204Z"
                fill="black"
              />
              <path
                d="M14.0776 16.9004C14.0785 16.8988 14.0786 16.8987 14.0776 16.9004V16.9004Z"
                fill="black"
              />
              <path
                d="M13.5158 5.22201C15.7168 3.68831 17.1876 0.233111 16.2825 0.0819887C15.0799 -0.118886 12.4683 0.761925 11.206 0.917114C9.41564 1.09642 7.46571 -0.693218 6.37118 0.304323C5.48125 1.11539 7.0092 4.06498 9.39971 5.34997C2.26774 8.25744 -7.75672 22.8531 9.73149 23.9122C33.9294 25.3776 21.8126 8.05526 13.5158 5.22201ZM15.5939 16.7329C15.5195 17.3019 15.1559 17.8165 14.6125 18.1658C14.0386 18.5347 13.3189 18.7063 12.6038 18.7543V19.383C12.6038 19.5513 12.5153 19.714 12.3634 19.8253C12.1547 19.9785 11.8481 20.0163 11.5948 19.9195C11.3447 19.824 11.1805 19.6113 11.1805 19.383V18.6959C11.0578 18.6766 10.9361 18.6536 10.8158 18.6262C10.1475 18.4739 9.52757 18.177 9.07474 17.7378C8.84918 17.5188 8.66529 17.2704 8.5381 17.0022C8.50488 16.9321 8.47526 16.8607 8.44932 16.7886C8.42583 16.7232 8.4016 16.6568 8.39322 16.5887C8.37913 16.4744 8.40643 16.3579 8.47063 16.2561C8.60258 16.0468 8.88064 15.9203 9.16455 15.9413C9.44397 15.9619 9.68887 16.1227 9.77683 16.3437C9.80393 16.4117 9.82231 16.4815 9.85274 16.5488C9.88291 16.6156 9.91933 16.6806 9.96216 16.7425C10.0467 16.8644 10.1527 16.9768 10.2747 17.0743C10.5262 17.2753 10.8465 17.4059 11.1805 17.4836V15.1478C10.5275 15.0076 9.85343 14.8265 9.3142 14.4787C9.05214 14.3096 8.82978 14.0995 8.68414 13.8509C8.53048 13.5884 8.46682 13.2961 8.46423 13.0057C8.46158 12.7109 8.52912 12.4186 8.6774 12.15C8.8163 11.8984 9.01626 11.6726 9.26143 11.4854C9.78568 11.0852 10.482 10.8619 11.1805 10.7799V10.7285V10.1273C11.1805 9.95909 11.2691 9.79633 11.4209 9.68497C11.6297 9.53187 11.9362 9.49403 12.1895 9.59082C12.4395 9.68632 12.6039 9.899 12.6039 10.1273V10.7285V10.7764C12.697 10.7861 12.7898 10.7977 12.8821 10.8116C13.568 10.9146 14.2388 11.1495 14.7404 11.5596C14.978 11.7539 15.1725 11.9854 15.3093 12.2378C15.3475 12.3083 15.3809 12.3803 15.4099 12.4538C15.4368 12.5223 15.4639 12.5928 15.4768 12.6643C15.4973 12.7785 15.4764 12.8964 15.4175 13.0008C15.2968 13.2147 15.0263 13.3509 14.7416 13.3408C14.4619 13.3307 14.2085 13.1796 14.1084 12.9628C14.0785 12.8983 14.0636 12.83 14.0332 12.7657C14.0025 12.7006 13.9627 12.6385 13.9169 12.5798C13.8278 12.4657 13.7124 12.3679 13.5807 12.2873C13.2954 12.1126 12.9494 12.0215 12.6037 11.9707V14.206C13.0146 14.2876 13.4258 14.3766 13.8195 14.5053C14.4145 14.7 14.9783 14.9984 15.303 15.4689C15.2526 15.3956 15.2036 15.3241 15.3047 15.4713C15.404 15.6159 15.3566 15.547 15.3068 15.4745C15.5652 15.8522 15.6501 16.3038 15.5939 16.7329Z"
                fill="black"
              />
              <path
                d="M14.0432 16.9517C14.0389 16.9581 14.0352 16.9638 14.0322 16.9682C14.0348 16.9644 14.0386 16.9588 14.0432 16.9517Z"
                fill="black"
              />
            </svg>
          </div>
          <div class="">
            <small class="text-center">
              Wallet
            </small>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-profile' }" class="section">
        <div class="">
          <div class="">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.8188 11.5609C13.7225 11.5609 15.371 10.9912 16.7179 9.86732C18.0647 8.74361 18.7475 7.36868 18.7475 5.78024C18.7475 4.19236 18.0647 2.81725 16.7176 1.69317C15.3705 0.569638 13.7223 0 11.8188 0C9.91492 0 8.26691 0.569638 6.92002 1.69335C5.57313 2.81706 4.89014 4.19218 4.89014 5.78024C4.89014 7.36868 5.57313 8.74379 6.92024 9.8675C8.26735 10.991 9.91558 11.5609 11.8188 11.5609V11.5609Z"
                fill="black"
              />
              <path
                d="M23.9418 18.4546C23.903 17.987 23.8244 17.4768 23.7088 16.9381C23.592 16.3954 23.4417 15.8824 23.2617 15.4134C23.0758 14.9288 22.823 14.4501 22.5105 13.9914C22.1861 13.5154 21.8051 13.1008 21.3775 12.7597C20.9305 12.4028 20.3831 12.1159 19.7502 11.9066C19.1194 11.6984 18.4204 11.593 17.6727 11.593C17.379 11.593 17.095 11.6935 16.5466 11.9914C16.209 12.175 15.8142 12.3874 15.3735 12.6224C14.9967 12.8227 14.4862 13.0104 13.8556 13.1803C13.2404 13.3464 12.6158 13.4306 11.9993 13.4306C11.3828 13.4306 10.7585 13.3464 10.1426 13.1803C9.51274 13.0106 9.00225 12.8229 8.62586 12.6226C8.18933 12.3898 7.79428 12.1774 7.45169 11.9912C6.90389 11.6933 6.61968 11.5928 6.32602 11.5928C5.57807 11.5928 4.87927 11.6984 4.24873 11.9068C3.61622 12.1157 3.06864 12.4026 2.62114 12.7599C2.19383 13.1012 1.81261 13.5156 1.48867 13.9914C1.17636 14.4501 0.923533 14.9286 0.737422 15.4136C0.557675 15.8825 0.407338 16.3954 0.290579 16.9381C0.174918 17.4761 0.0963477 17.9864 0.0575014 18.4552C0.0193134 18.9144 0 19.391 0 19.8724C0 21.1252 0.477349 22.1394 1.41866 22.8874C2.34834 23.6255 3.57847 23.9999 5.07438 23.9999H18.9256C20.4215 23.9999 21.6512 23.6257 22.5811 22.8874C23.5227 22.14 24 21.1256 24 19.8722C23.9998 19.3886 23.9802 18.9116 23.9418 18.4546V18.4546Z"
                fill="black"
              />
            </svg>
          </div>
          <div class="">
            <small class="text-center">
              Profile
            </small>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footbar"
};
</script>

<style scoped>
.footbar-content {
}

.section {
  width: 20vw;
  display: inline-block;
  height: 40px;
}

small {
  font-size: 10px;
  color: rgba(35, 49, 78, 0.4);
  font-weight: bolder !important;
  text-decoration: none !important;
  transition: color 0.4s ease-in-out;
}

.router-link-active small {
  color: #1840aa !important;
  text-decoration: none !important;
}

.router-link-active small:active {
  text-decoration: none !important;
}
.router-link-active small:hover {
  text-decoration: none !important;
}
.router-link-active small:visited {
  text-decoration: none !important;
}

svg path {
  fill: rgba(24, 64, 170, 0.1);
  transition: fill 0.4s ease-in-out;
}

.router-link-active path {
  fill: #1840aa !important;
  fill-opacity: 1;
}
</style>
