<template>
  <div class="col-md-12 activity-box">
    <div class="col-md-12 pt-3 pr-3 pl-3 pb-3 pt-md-4 pb-md-4">
      <h6 class="name">
        Your credited your wallet with N2,000
      </h6>
      <h6 class="pt-0 timer">
        Tue 22/04/19 12:30PM
      </h6>
    </div>
  </div>
</template>

<script>
export default {
  name: "RecentActivity"
};
</script>

<style scoped>
.timer {
  font-weight: normal;
  color: rgba(35, 49, 78, 0.5);
  font-size: 0.9em;
}

.name {
  color: #212529;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .name {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
  }
  .timer {
    font-size: 0.7em;
  }
}

</style>
