<template>
  <div class="content">
    <div class="movex-logo row">
      <div class="col-12 justify-content-center pt-3">
        <h3>moveX Logo </h3>
      </div>
    </div>
    <div class="row">
      <router-link :to="{ name: 'client-dashboard'}" class="col-md-12 pr-3 pt-2 pb-2 mb-1">
        <div class="row">
          <div class="col-md-3 pt-2 pb-2 text-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.17562 15.5964C2.17562 15.5964 2.16141 16 2.51078 16C2.94542 16 6.54394 15.9947 6.54394 15.9947L6.54986 12.2647C6.54986 12.2647 6.49301 11.6498 7.02181 11.6498H8.69523C9.32055 11.6498 9.28206 12.2647 9.28206 12.2647L9.27495 15.9827C9.27495 15.9827 12.6869 15.9827 13.2228 15.9827C13.6664 15.9827 13.6462 15.4801 13.6462 15.4801V8.60354L8.08235 3.01758L2.17562 8.60354V15.5964Z" fill="#23314E"/>
              <path d="M0 8.08354C0 8.08354 0.501554 9.12682 1.59526 8.08354L8.13146 1.84261L14.2597 8.04478C15.5257 9.07536 16 8.04478 16 8.04478L8.13146 0L0 8.08354Z" fill="#23314E"/>
              <path d="M14.111 1.82788H12.5347L12.5412 3.98527L14.111 5.48837V1.82788Z" fill="#23314E" />
            </svg>
          </div>
          <div class="col-md-9 pt-3 pl-0">
            <h6 class="text-left font-weight-bolder">
              Dashboard
            </h6>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-deliveries' }" class="col-md-12 pr-3 pt-2 pb-2 mb-1">
        <div class="row">
          <div class="col-md-3 pt-2 pb-2 text-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9565 3.10791H13.7918C13.9455 2.86436 14.0468 2.59097 14.0758 2.30184C14.1681 1.3778 13.6823 0.54947 12.8553 0.182229C12.0951 -0.155334 11.2408 -0.0173412 10.6257 0.541581L9.15505 1.87675C8.86864 1.56294 8.45692 1.36572 7.99998 1.36572C7.54224 1.36572 7.12986 1.56357 6.84339 1.87834L5.3709 0.541424C4.75474 -0.0174977 3.90081 -0.154959 3.14096 0.182417C2.31415 0.549689 1.82828 1.3783 1.9209 2.30231C1.94987 2.59122 2.05118 2.86448 2.20478 3.10791H1.04347C0.467155 3.10791 0 3.57593 0 4.15322V5.7212C0 6.00984 0.233593 6.24387 0.521749 6.24387H15.4783C15.7664 6.24387 16 6.00987 16 5.7212V4.15322C16 3.57593 15.5328 3.10791 14.9565 3.10791ZM6.43477 2.9337V3.10791H3.9803C3.33181 3.10791 2.82143 2.50228 2.9834 1.82591C3.05474 1.52804 3.26937 1.27412 3.54696 1.14558C3.92815 0.969084 4.3504 1.02575 4.67055 1.31604L6.43521 2.9183C6.43511 2.92346 6.43477 2.92854 6.43477 2.9337ZM13.0404 2.16306C13.0015 2.7063 12.5117 3.10798 11.968 3.10798H9.5652V2.93376C9.5652 2.9276 9.56483 2.92149 9.56476 2.91532C9.96451 2.55231 10.8317 1.76492 11.3021 1.33783C11.5694 1.09512 11.9434 0.981825 12.2892 1.08513C12.7853 1.23339 13.0767 1.65608 13.0404 2.16306Z" fill="#23314E"/>
              <path d="M1.04346 7.28906V14.9548C1.04346 15.5321 1.51061 16.0001 2.08692 16.0001H6.95648V7.28906H1.04346Z" fill="#23314E"/>
              <path d="M9.04346 7.28906V16.0001H13.913C14.4893 16.0001 14.9565 15.5321 14.9565 14.9548V7.28906H9.04346Z" fill="#23314E"/>
            </svg>
          </div>
          <div class="col-md-9 pt-3 pl-0">
            <h6 class="text-left font-weight-bolder">
              Delivery
            </h6>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-create-delivery' }" class="col-md-12 pr-3 pt-2 pb-2 mb-1">
        <div class="row">
          <div class="col-md-3 pt-2 pb-2 text-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 0C3.58892 0 0 3.58862 0 8C0 12.4114 3.58892 16 8 16C12.4111 16 16 12.4114 16 8C16 3.58862 12.4111 0 8 0ZM11.8462 8.61538H8.61538V12C8.61538 12.3397 8.33969 12.6154 8 12.6154C7.66031 12.6154 7.38462 12.3397 7.38462 12V8.61538H4.15385C3.81415 8.61538 3.53846 8.33969 3.53846 8C3.53846 7.66031 3.81415 7.38462 4.15385 7.38462H7.38462V4.30769C7.38462 3.968 7.66031 3.69231 8 3.69231C8.33969 3.69231 8.61538 3.968 8.61538 4.30769V7.38462H11.8462C12.1858 7.38462 12.4615 7.66031 12.4615 8C12.4615 8.33969 12.1858 8.61538 11.8462 8.61538Z" fill="#1840AA"/>
            </svg>
          </div>
          <div class="col-md-9 pt-3 pl-0">
            <h6 class="text-left font-weight-bolder">
              New Delivery
            </h6>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-wallet' }" class="col-md-12 pr-3 pt-2 pb-2 mb-1">
        <div class="row">
          <div class="col-md-3 pt-2 pb-2 text-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.31197 10.6284C9.23994 10.563 9.14879 10.5141 9.05461 10.4733C8.84954 10.3846 8.62527 10.3308 8.40259 10.2822V11.7135C8.76403 11.6796 9.17898 11.5708 9.36875 11.2909C9.45935 11.1572 9.47737 10.993 9.44047 10.8441C9.42045 10.7635 9.3791 10.6895 9.31197 10.6284Z" fill="black"/>
              <path d="M9.36694 11.2952C9.36786 11.2937 9.36838 11.2927 9.36936 11.291C9.36855 11.2924 9.36775 11.2938 9.36694 11.2952Z" fill="black"/>
              <path d="M6.70713 8.34047C6.645 8.41573 6.60601 8.50123 6.59525 8.59212C6.58449 8.68319 6.59053 8.7845 6.63224 8.87023C6.67196 8.95193 6.75516 9.01224 6.84103 9.06081C6.9374 9.11517 7.04338 9.15764 7.15132 9.19363C7.24187 9.22386 7.34372 9.25278 7.45352 9.28071V7.9856C7.17614 8.03469 6.87308 8.1395 6.70713 8.34047Z" fill="black"/>
              <path d="M9.37604 11.2803C9.37369 11.2838 9.37115 11.2875 9.36865 11.2914C9.37157 11.2869 9.37388 11.2835 9.37604 11.2803Z" fill="black"/>
              <path d="M9.38501 11.2673C9.38586 11.2658 9.38599 11.2656 9.38501 11.2673V11.2673Z" fill="black"/>
              <path d="M9.0105 3.48134C10.4779 2.45887 11.4584 0.155407 10.855 0.0546591C10.0532 -0.0792575 8.31218 0.50795 7.47066 0.611409C6.2771 0.730944 4.97714 -0.462145 4.24746 0.202882C3.65417 0.743594 4.6728 2.70999 6.26647 3.56665C1.51183 5.50496 -5.17115 15.2354 6.48766 15.9415C22.6196 16.9184 14.5418 5.37018 9.0105 3.48134ZM10.3959 11.1552C10.3463 11.5346 10.1039 11.8777 9.74163 12.1105C9.35909 12.3565 8.87928 12.4708 8.40255 12.5029V12.922C8.40255 13.0342 8.3435 13.1427 8.24228 13.2169C8.10316 13.319 7.89873 13.3442 7.72988 13.2797C7.56316 13.216 7.45364 13.0742 7.45364 12.922V12.4639C7.37189 12.451 7.29073 12.4357 7.21053 12.4175C6.76499 12.3159 6.35172 12.118 6.04983 11.8252C5.89945 11.6792 5.77686 11.5136 5.69207 11.3348C5.66992 11.2881 5.65017 11.2405 5.63288 11.1924C5.61722 11.1488 5.60106 11.1045 5.59548 11.0591C5.58608 10.983 5.60429 10.9053 5.64709 10.8374C5.73505 10.6979 5.92042 10.6136 6.1097 10.6276C6.29598 10.6413 6.45924 10.7485 6.51789 10.8958C6.53595 10.9411 6.54821 10.9876 6.5685 11.0325C6.5886 11.0771 6.61289 11.1204 6.64144 11.1617C6.69781 11.2429 6.76844 11.3179 6.84978 11.3829C7.01744 11.5169 7.231 11.6039 7.45364 11.6558V10.0985C7.01831 10.005 6.56895 9.8843 6.20947 9.65246C6.03476 9.53974 5.88652 9.39969 5.78943 9.23392C5.68699 9.05896 5.64455 8.86406 5.64282 8.67047C5.64105 8.4739 5.68608 8.27907 5.78494 8.09997C5.87753 7.93229 6.01084 7.78173 6.17429 7.65692C6.52379 7.39011 6.98803 7.24128 7.45368 7.18662V7.15236V6.75151C7.45368 6.63939 7.51274 6.53089 7.61395 6.45664C7.75312 6.35458 7.95746 6.32935 8.12636 6.39388C8.29303 6.45755 8.4026 6.59933 8.4026 6.75151V7.15236V7.18424C8.46464 7.19072 8.52651 7.19848 8.58806 7.20774C9.04531 7.27637 9.49254 7.43299 9.82692 7.70643C9.98533 7.83594 10.115 7.99027 10.2062 8.15856C10.2317 8.2055 10.2539 8.25354 10.2732 8.30253C10.2912 8.34819 10.3093 8.39522 10.3179 8.44288C10.3316 8.51897 10.3176 8.59758 10.2783 8.66719C10.1979 8.8098 10.0175 8.90061 9.82774 8.89387C9.64128 8.88714 9.47234 8.78642 9.40557 8.64185C9.38569 8.59886 9.37575 8.55334 9.35546 8.51046C9.33499 8.46705 9.30848 8.42564 9.27794 8.38652C9.21857 8.31047 9.14163 8.24526 9.0538 8.19154C8.86362 8.07505 8.63295 8.01436 8.40246 7.98044V9.47065C8.67639 9.52506 8.95054 9.58439 9.21298 9.67023C9.60964 9.79997 9.98551 9.9989 10.202 10.3126C10.1684 10.2637 10.1358 10.2161 10.2032 10.3142C10.2693 10.4106 10.2377 10.3647 10.2045 10.3164C10.3768 10.5682 10.4334 10.8692 10.3959 11.1552Z" fill="black"/>
              <path d="M9.36208 11.301C9.35921 11.3053 9.35671 11.3091 9.35474 11.312C9.35643 11.3095 9.35897 11.3058 9.36208 11.301Z" fill="black"/>
            </svg>
          </div>
          <div class="col-md-9 pt-3 pl-0">
            <h6 class="text-left font-weight-bolder">
              Wallet
            </h6>
          </div>
        </div>
      </router-link>
      <router-link :to="{ name: 'client-profile' }" class="col-md-12 pr-3 pt-2 pb-2 mb-1">
        <div class="row">
          <div class="col-md-3 pt-2 pb-2 text-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.87914 7.70724C9.14826 7.70724 10.2472 7.32748 11.1452 6.57821C12.0431 5.82907 12.4983 4.91245 12.4983 3.8535C12.4983 2.79491 12.0431 1.87816 11.145 1.12878C10.2469 0.379759 9.14812 0 7.87914 0C6.60986 0 5.51119 0.379759 4.61327 1.1289C3.71534 1.87804 3.26001 2.79479 3.26001 3.8535C3.26001 4.91245 3.71534 5.82919 4.61341 6.57834C5.51149 7.32736 6.6103 7.70724 7.87914 7.70724V7.70724Z" fill="black"/>
              <path d="M15.9612 12.3031C15.9353 11.9913 15.8829 11.6512 15.8058 11.2921C15.728 10.9303 15.6278 10.5882 15.5078 10.2756C15.3839 9.9525 15.2153 9.63341 15.007 9.32763C14.7907 9.01025 14.5367 8.73388 14.2517 8.50647C13.9537 8.26855 13.5887 8.07727 13.1668 7.93774C12.7463 7.79895 12.2803 7.72864 11.7818 7.72864C11.586 7.72864 11.3967 7.79565 11.031 7.99426C10.806 8.1167 10.5428 8.2583 10.249 8.41491C9.99777 8.54846 9.65744 8.67358 9.23708 8.78686C8.82697 8.89758 8.41056 8.95373 7.99956 8.95373C7.58857 8.95373 7.1723 8.89758 6.76175 8.78686C6.34183 8.6737 6.0015 8.54858 5.75057 8.41504C5.45955 8.25988 5.19619 8.11828 4.96779 7.99414C4.60259 7.79553 4.41312 7.72852 4.21735 7.72852C3.71871 7.72852 3.25285 7.79895 2.83249 7.93787C2.41081 8.07715 2.04576 8.26843 1.74743 8.50659C1.46255 8.73413 1.20841 9.01037 0.992447 9.32763C0.784242 9.63341 0.615688 9.95238 0.491614 10.2757C0.371783 10.5884 0.271558 10.9303 0.193719 11.2921C0.116612 11.6507 0.0642318 11.9909 0.0383342 12.3034C0.0128756 12.6096 0 12.9273 0 13.2483C0 14.0835 0.318233 14.7596 0.945772 15.2583C1.56556 15.7503 2.38565 16 3.38292 16H12.6171C13.6144 16 14.4341 15.7504 15.0541 15.2583C15.6818 14.76 16 14.0837 16 13.2481C15.9999 12.9258 15.9868 12.6078 15.9612 12.3031V12.3031Z" fill="black"/>
            </svg>

          </div>
          <div class="col-md-9 pt-3 pl-0">
            <h6 class="text-left font-weight-bolder">
              Profile
            </h6>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "sidebar",
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.d-inline * {
  display: inline;
}

* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

path {
  fill: #ffffff;
}

a {
  color: rgb(24, 64, 170);;
  border-left: 3px solid transparent;
  transition: background-color 0.5s ease-in-out !important;
}

a svg {
  fill: #1840aa !important;
}
a path {
  fill: #1840aa !important;
}

a:hover {
  text-decoration: none;
  color: rgb(24, 64, 170);
}

.router-link-active {
  background-color: rgba(24, 64, 170, 0.2);
  color: #1840aa !important;
  border-left: 3px solid rgb(24, 64, 170);
}

.router-link-active path {
  fill: rgb(24, 64, 170) !important;
}

.router-link-active svg {
  fill: rgb(24, 64, 170) !important;
}

.movex-logo {
  height: 8vh;
  position: absolute;
  top: 0;
  background-color: #1840aa;
  width: 100%;
  color: white;
}
</style>
