<template>
  <div class="container-fluid back-img">
    <div class="auth-box-container mt-5 mt-md-0">
      <div class="row justify-content-center m-md-5 auth-box p-sm-5">
        <div class="col-md-5 col-sm-12 justify-content-center">
          <img
            src="./../../../assets/images/Group 302.svg"
            alt=""
            width="80%"
            class="mt-5 pt-1"
          />
        </div>
        <div class="col-12 col-md-7 pt-5">
          <div class="col-sm-12">
            <div class="col-md-12">
              <form action="">
                <div class="col-md-12 text-center">
                  <h5 class="form-header-text text-center mt-2 mt-sm-2">
                    VERIFICATION
                  </h5>
                </div>
                <div class="col-md-12 mt-2 mb-3">
                  <h6 class="text-muted">Enter verificaton code sent to your email</h6>
                </div>
                <div class="form-group mb-3">
                  <input
                    type="number"
                    class="form-control text-center"
                    id="name"
                    placeholder="- - - -"
                  />
                </div>
              </form>
              <router-link :to="{ name: 'client-dashboard' }" class="col-md-12 col-sm-12 btn blue-btn">
                VALIDATE
              </router-link>
              <div class="col-md-12 pt-2">
                <a href="#" class="green-auth-text mt-3">Did not receive code? Click to request new code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Verification"
};
</script>

<style scoped>
@media screen and (min-width: 576px) {
  .auth-box {
    margin-top: 15vh !important;
  }
}

h3, h6, input {
  font-style: normal;
  font-weight: bolder !important;
}

h3 {
  color: #597af0;
}

.text-muted {
  color: #b3b8c1 !important;
}
h6 {
  color: #b3b8c1;
}

.form-control {
  font-size: 30px !important;
  letter-spacing: 15px;
}

.form-control::placeholder {
  font-size: 30px !important;
  letter-spacing: 8px;
}

@media screen and (min-width: 576px) {
  .auth-box {
    margin-top: 25vh !important;
    margin-right: 15vw !important;
    margin-left: 15vw !important;
  }
}
</style>
