<template>
  <div>
    <div :class="{ sidemodal: true, active: overlayIsActive }">
      <div
        :class="{
          'sidemodal-hidden': true,
          'sidemodal-display': overlayIsActive
        }"
      >
        <div id="close-sidemodal" @click="overlayDisplay('')">
          <h1 class="text-danger">X</h1>
        </div>
        <div class="row ml-0 pl-0" id="sidemodal-content">
          <div class="col-12">
            <div
              class="row mb-5 pl-0 justify-content-center"
              v-if="modalContent === 'sort'"
            >
              <div class="col-12 col-sm-8 col-md-6 mt-5">
                <h5 class="title-header section-header col-11 pl-0">Sort-by</h5>
                <select name="" id="sort" class="col-12 mb-5">
                  <option value="djk">Product Name</option>
                  <option value="djk">Client Name</option>
                </select>
                <h5 class="title-header section-heade col-11r">Filter-by</h5>
                <select name="" id="filter" class="col-12">
                  <option value="djk">Ascending</option>
                  <option value="djk">Descending</option>
                </select>
              </div>
            </div>
            <div class="col-12 pl-0" v-else>
              <DeliveryDetails />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="back-to-top-cover">
      <img
        src="../../../../assets/Group2.png"
        alt=""
        width="100%"
        height="100%"
        class="back-to-top mr-0 mr-sm-4"
      />
    </div>
    <div class="row p-2 pb-4 pl-sm-5 pr-sm-5 pt-5 pb-sm-2 sticky-top">
      <div class="col-12 col-md-4 col-sm-12">
        <span
          class="col-md-12 col-sm-12 btn blue-btn pt-2 pl-4 pr-4"
          @click="overlayDisplay('sort')"
        >
          <span class="row">
            <span class="col-9 text-left pt-1">
              <span id="filter-text">FILTER</span>
            </span>
            <span class="col-3 text-right pt-1">
              <svg
                width="15"
                height="15"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0)">
                  <path
                    d="M10.7518 15C10.4282 15 10.1659 14.7377 10.1659 14.4141V5.15602H7.6466C7.18437 5.15602 6.77078 4.87965 6.59282 4.45187C6.41418 4.02237 6.51043 3.53199 6.83796 3.2024L9.50672 0.517845C9.83871 0.183907 10.2809 0 10.7518 0C11.2228 0 11.665 0.183907 11.997 0.517845L14.6657 3.2024C14.9934 3.53188 15.0896 4.02237 14.911 4.45187C14.733 4.87965 14.3193 5.15602 13.8571 5.15602H13.2129C12.8892 5.15602 12.627 4.89372 12.627 4.57008C12.627 4.24644 12.8892 3.98415 13.2129 3.98415H13.7904L11.1659 1.34411C11.0554 1.2331 10.9085 1.17188 10.7518 1.17188C10.5953 1.17188 10.4482 1.2331 10.3378 1.34411L7.71332 3.98415H10.1659C10.8121 3.98415 11.3378 4.50989 11.3378 5.15602V14.4141C11.3378 14.7376 11.0755 15 10.7518 15Z"
                    fill="white"
                  />
                  <path
                    d="M4.24727 15C3.77635 15 3.33415 14.8161 3.00216 14.4822L0.333395 11.7976C0.00575024 11.468 -0.0904946 10.9776 0.0882621 10.5481C0.266103 10.1204 0.679807 9.84386 1.14203 9.84386H3.66134V0.585938C3.66134 0.262299 3.92364 0 4.24727 0C4.57091 0 4.83321 0.262299 4.83321 0.585938V9.84398C4.83321 10.4901 4.30747 11.0159 3.66134 11.0159H1.20875L3.83323 13.6559C3.94366 13.7669 4.09072 13.8281 4.24727 13.8281C4.40383 13.8281 4.55089 13.7669 4.66132 13.6559L7.28579 11.0159H6.70833C6.38469 11.0159 6.12239 10.7536 6.12239 10.4299C6.12239 10.1063 6.38469 9.84398 6.70833 9.84398H7.35251C7.81474 9.84398 8.22833 10.1204 8.40629 10.5481C8.58493 10.9776 8.4888 11.4681 8.16115 11.7976L5.49239 14.4822C5.1604 14.8161 4.7182 15 4.24727 15Z"
                    fill="white"
                  />
                </g>
              </svg>
            </span>
          </span>
        </span>
      </div>
      <div
        class="col-12 col-md-5 col-sm-12 mt-4 mt-sm-0 ml-auto"
        id="serch-from"
      >
        <input
          type="text"
          class="col-9 col-sm-8 col-md-9 form-control pl-4 pr-3"
          placeholder="Search Deliveries by products...."
          id="serch-from-text"
        />
        <input
          type="button"
          class="col-3 col-sm-4 col-md-3 text-center btn blue-btn"
          value="SEARCH"
        />
      </div>
    </div>
    <div class="row pt-3 p-2 pb-5 mb-4 pl-sm-5 pr-sm-5 pb-sm-2 pt-sm-4 mb-sm-0">
      <div class="col-12">
        <DeliveryDataBox @moreDetails="showDeliveryDetails" />
      </div>
    </div>
  </div>
</template>

<script>
import DeliveryDataBox from "../../../../components/users/DeliveryDataBox";
import DeliveryDetails from "../../../../components/users/DeliveryDetails";
export default {
  name: "ClientDelivery",
  components: { DeliveryDetails, DeliveryDataBox },
  data() {
    return {
      overlayIsActive: false,
      modalContent: "sort"
    };
  },
  methods: {
    overlayDisplay(modalContent) {
      this.overlayIsActive = !this.overlayIsActive;
      this.modalContent = modalContent;
    },
    showDeliveryDetails(id) {
      this.modalContent = "not-sort";
      this.overlayIsActive = !this.overlayIsActive;
    }
  }
};
</script>

<style scoped>
.btn.blue-btn:hover {
  cursor: pointer;
}

.form-control {
  font-size: 1em;
  height: 40px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

#serch-from {
  display: flex;
  flex-direction: row;
}

.title-header {
  color: #597af0;
  font-size: 1em;
  font-weight: bold;
}
.title-header.section-header {
  font-size: 1.2em;
}

.sticky-top {
  background: #f3f6f9;
}

.back-to-top {
  height: 54px;
  width: 54px;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 10vh;
  right: 20px;
  z-index: 9998;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border-radius: 50%;
}

.back-to-top:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

@media screen and (max-width: 576px) {
  .back-to-top {
    height: 50px;
    width: 50px;
  }

  .sticky-top {
    background: #ffffff;
    box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.1) !important;
  }

  .title-header.section-header {
    font-size: 4em;
  }
}


@media screen and (width: 768px) {
  #serch-from-butt {
    font-size: 0.3em;
    text-align: left !important;
  }
}
</style>
