<template>
  <div class="mb-4 mb-sm-0">
    <div class="row pl-1 pr-1 pt-4 pb-2 pl-sm-5 pr-sm-5 pb-sm-2 pt-sm-5">
      <div class="col-6 col-sm-3 pb-4">
        <router-link :to="{ name: 'client-wallet' }">
          <DataBox
            color="linear-gradient(to right bottom, #597af0, #009afe, #00b2f3, #00c5d8, #0cd3b9)"
            :data="{
              title: 'WALLET',
              subTitle: 'Balance',
              sign: 'N',
              count: 1000
            }"
          />
        </router-link>
      </div>
      <div class="col-6 col-md-3 pb-4">
        <router-link :to="{ name: 'client-deliveries' }">
          <DataBox
            color="linear-gradient(to right bottom, #0cd3b9, #86c571, #c9ac4a, #f78b61, #fe739e)"
            :data="{
              title: 'DELIVERIES',
              subTitle: 'Completed',
              sign: '',
              count: 62
            }"
          />
        </router-link>
      </div>
      <div class="col-6 col-md-3 pb-4">
        <router-link :to="{ name: 'client-deliveries' }">
          <DataBox
            color="linear-gradient(to right bottom, #fe739e, #f667b3, #e561cb, #c664e6, #936cff)"
            :data="{
              title: 'DELIVERIES',
              subTitle: 'On-Going',
              sign: '',
              count: 17
            }"
          />
        </router-link>
      </div>
      <div class="col-6 col-md-3 pb-4">
        <router-link :to="{ name: 'client-deliveries' }">
          <DataBox
            color="linear-gradient(to right bottom, #957ae0, #7c6ad2, #625cc5, #444db7, #1840aa)"
            :data="{
              title: 'COMPLAINTS',
              subTitle: 'On-going',
              sign: '',
              count: 2
            }"
          />
        </router-link>
      </div>
    </div>
    <div class="row ml-0 pt-1 mr-0 mr-sm-5 ml-sm-5 mb-5 ">
      <div class="col-md-12">
        <h4>
          <span class="pl-2">Recent Activities</span>
        </h4>
      </div>
      <RecentActivity />
    </div>
  </div>
</template>

<script>
import DataBox from "../../../../components/users/DataBox";
import RecentActivity from "../../../../components/users/RecentActivity";
export default {
  name: "ClientDashboard",
  components: {
    RecentActivity,
    DataBox
  }
};
</script>

<style scoped></style>
