<template>
  <div>
    <div :class="{ sidemodal: true, active: overlayIsActive }">
      <div
        :class="{
          'sidemodal-hidden': true,
          'sidemodal-display': overlayIsActive
        }"
      >
        <div id="close-sidemodal" @click="overlayDisplay()">
          <h1 class="text-danger">X</h1>
        </div>
        <div class="row ml-0 pl-0" id="sidemodal-content">
          <div class="col-12">
            <div class="row mb-5 pl-0 justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 mt-5">
                <h5 class="title-header section-header col-11 pl-0">Sort-by</h5>
                <select name="" id="sort" class="col-12 mb-5">
                  <option value="djk">Product Name</option>
                  <option value="djk">Client Name</option>
                </select>
                <h5 class="title-header section-heade col-11r">Filter-by</h5>
                <select name="" id="filter" class="col-12">
                  <option value="djk">Ascending</option>
                  <option value="djk">Descending</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 mb-sm-0">
      <div class="row pl-1 pr-1 pt-4 pb-2 pl-sm-5 pr-sm-5 pb-sm-2 pt-sm-5">
        <div class="col-6 col-sm-6 pb-4">
          <DataBox
            color="linear-gradient(to right bottom, #597af0, #009afe, #00b2f3, #00c5d8, #0cd3b9)"
            :data="{
              title: 'SPENT',
              subTitle: 'Total',
              sign: 'N',
              count: 1000
            }"
          />
        </div>
        <div class="col-6 col-sm-6 pb-3">
          <DataBox
            color="linear-gradient(to right bottom, #957ae0, #7c6ad2, #625cc5, #444db7, #1840aa)"
            :data="{
              title: 'BALANCE',
              subTitle: 'Wallet',
              sign: 'N',
              count: 1000
            }"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 pt-1 pt-sm-3">
          <button class="col-12 btn blue-btn" @click="overlayDisplay('sort')">
            RECHARGE WALLET
          </button>
        </div>
      </div>
      <div class="row ml-0 pt-5 mr-0 mr-sm-5 ml-sm-5 mb-5">
        <div class="col-12">
          <h4>
            <span class="pl-2">Recent Transactions</span>
          </h4>
        </div>
        <RecentActivity />
      </div>
    </div>
  </div>
</template>

<script>
import DataBox from "../../../../components/users/DataBox";
import RecentActivity from "../../../../components/users/RecentActivity";
export default {
  name: "ClientWallet",
  components: {
    RecentActivity,
    DataBox
  },
  data() {
    return {
      overlayIsActive: false
    };
  },
  methods: {
    overlayDisplay() {
      this.overlayIsActive = !this.overlayIsActive;
    }
  }
};
</script>

<style scoped></style>
