<template>
  <div>
    <div class="">
      <div
        class="row pt-3 p-2 pb-5 mb-4 mt-4 mt-sm-4 pl-sm-5 pr-sm-5 pb-sm-2 pt-sm-4 mb-sm-0"
      >
        <div class="col-12">
          <h5>
            <span class="form-header-text font-weight-bolder"
              >NEW DELIVERY</span
            >
          </h5>
        </div>
      </div>
      <div class="row ml-0 pt-2 mr-0 mr-sm-5 ml-sm-5 mb-5">
        <div class="col-12 col-sm-6 mb-4">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <input
              type="text"
              class="form-control"
              id="pick-up-address"
              placeholder="Pick Up-Address"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-4">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Delivery Address"
            />
          </div>
        </div>
        <div class="col-md-12 ">
          <form action="">
            <div class="col-md-12 mb-0 pl-0">
              <h5 class="mb-4 mt-3 font-weight-bold">
                RECEIVER DETAILS
              </h5>
            </div>
          </form>
        </div>
        <div class="col-12 col-sm-6 mb-4">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <input
              type="text"
              class="form-control"
              id="pick-up-address"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-4">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-4">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Telephone"
            />
          </div>
        </div>
        <div class="col-md-12 ">
          <form action="">
            <div class="col-md-12 mb-0 pl-0">
              <h5 class="mb-4 mt-3 font-weight-bold">
                ITEMS DETAILS
              </h5>
            </div>
          </form>
        </div>
        <div class="col-12">
          <div class="form-group mb-2 mt-2 mb-sm-3">
            <select name="" id="sort" class="col-12" v-model="itemNo">
              <option value="">NO OF ITEMS</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div v-if="itemNo !== ''" class="col-12">
          <div v-for="item in parseInt(itemNo)" :key="item">
            <div class="col-md-12">
              <form action="">
                <div class="col-md-12 mb-0 pl-0">
                  <small class="mb-4 mt-3 font-weight-bold">
                    ITEM {{ item }}
                  </small>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-12 col-sm-9 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Item Name"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-3 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3 pt-1 pt-sm-3">
                  <input
                    :class="'form-control' + ' inp-cbx' + item"
                    :id="'cbx' + item"
                    type="checkbox"
                    style="display: none;"
                  />
                  <label :class="'cbx' + item" :for="'cbx' + item">
                    <span>
                      <svg width="12px" height="10px" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>
                    <span>Fragile</span>
                  </label>
                </div>
              </div>
              <div class="col-12 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Description"
                  />
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Height"
                  />
                  <small class="inputDimension">Inch(s)</small>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Width"
                  />
                  <small class="inputDimension">Inch(s)</small>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Breadth"
                  />
                  <small class="inputDimension">Inch(s)</small>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Weight"
                  />
                  <small class="inputDimension">Kg(s)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClientCreateDelivery",
  data() {
    return {
      itemNo: ""
    };
  },
  methods: {}
};
</script>

<style scoped>
.cbx1,
.cbx2,
.cbx3,
.cbx4 {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx1 span,
.cbx2 span,
.cbx3 span,
.cbx4 span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx1 span:first-child,
.cbx2 span:first-child,
.cbx3 span:first-child,
.cbx4 span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.cbx1 span:first-child svg,
.cbx2 span:first-child svg,
.cbx3 span:first-child svg,
.cbx4 span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx1 span:first-child:before,
.cbx2 span:first-child:before,
.cbx3 span:first-child:before,
.cbx4 span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx1 span:last-child,
.cbx2 span:last-child,
.cbx3 span:last-child,
.cbx4 span:last-child {
  padding-left: 8px;
}
.cbx1:hover span:first-child,
.cbx2:hover span:first-child,
.cbx3:hover span:first-child,
.cbx4:hover span:first-child {
  border-color: #506eec;
}
.inp-cbx1:checked + .cbx1 span:first-child,
.inp-cbx2:checked + .cbx2 span:first-child,
.inp-cbx3:checked + .cbx3 span:first-child,
.inp-cbx4:checked + .cbx4 span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave 0.4s ease;
}
.inp-cbx2:checked + .cbx2 span:first-child svg,
.inp-cbx3:checked + .cbx3 span:first-child svg,
.inp-cbx1:checked + .cbx1 span:first-child svg,
.inp-cbx4:checked + .cbx4 span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx1:checked + .cbx1 span:first-child:before,
.inp-cbx2:checked + .cbx2 span:first-child:before,
.inp-cbx3:checked + .cbx3 span:first-child:before,
.inp-cbx4:checked + .cbx4 span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.inputDimension {
  position: absolute;
  right: 30px;
  top: 23px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bolder;
}
</style>
