<template>
  <div>
    <div :class="{ sidemodal: true, active: overlayIsActive }">
      <div
        :class="{
          'sidemodal-hidden': true,
          'sidemodal-display': overlayIsActive
        }"
      >
        <div id="close-sidemodal" @click="overlayDisplay()">
          <h1 class="text-danger">X</h1>
        </div>
        <div class="row ml-0 pl-0" v-if="displayAddress === 'profile'" id="sidemodal-content">
          <div class="col-12">
            <div class="row mb-5 pl-0 justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 mt-5">
                <div class="form-group mb-2 mt-2 mb-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Full Name"
                  />
                </div>
                <div class="form-group mb-2 mb-sm-3">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group mb-2 mb-sm-3">
                  <label for="telephone" class="sr-only">Telephone</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="telephone"
                    placeholder="Telephone"
                  />
                </div>
                <router-link :to="{ name: 'verification' }">
                  <button class="col-md-12 col-sm-12 btn blue-btn mt-3">
                    SAVE CHANGES
                  </button>
                </router-link>
                <div class="col-md-12 pt-2 pb-5 text-center">
                  <router-link
                    :to="{ name: 'login' }"
                    class="text-center green-auth-text"
                    >CHANGE PASSWORD
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ml-0 pl-0" v-else id="sidemodal-content">
          <div class="col-12">
            <div class="row mb-5 pl-0 justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 mt-5">
                <div class="col-12">
                  <div class="row pl-4 pr-4 pt-4">
                    <h6 class="col-8 pl-0 font-weight-bold pt-2">
                      22 Ikuomola street, Iloro, Agege, Lagos
                    </h6>
                    <img src="../../../../assets/delete.png" alt="" class="ml-auto">
                  </div>
                  <div class="row pl-4 pr-4 pt-4">
                    <h6 class="col-8 pl-0 font-weight-bold pt-2">
                      12B Mobolaji BAnk Anthony Way, Ikeja, Lagos
                    </h6>
                    <img src="../../../../assets/delete.png" alt="" class="ml-auto">
                  </div>
                </div>
                <div class="col-12">
                  <router-link :to="{ name: 'verification' }">
                    <button class="col-md-12 col-sm-12 btn blue-btn mt-3">
                      ADD NEW
                    </button>
                  </router-link>
                </div>
                <div class="col-md-12 pt-2 pb-5 text-center">
                  <router-link
                    :to="{ name: 'login' }"
                    class="text-center green-auth-text"
                  >Delete All</router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 mb-sm-0 pt-5">
      <div
        class="row pl-1 pr-1 pt-4 pb-2 pl-sm-5 pr-sm-5 pb-sm-2 pt-sm-5 justify-content-center"
      >
        <div class="col-12 text-center">
          <svg
            width="29"
            height="33"
            viewBox="0 0 29 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.9153 17.7813C13.9494 17.7813 13.9836 17.7813 14.0246 17.7813C14.0383 17.7813 14.052 17.7813 14.0656 17.7813C14.0861 17.7813 14.1135 17.7813 14.134 17.7813C16.1362 17.7471 17.7558 17.0432 18.9517 15.697C21.5827 12.7312 21.1453 7.64691 21.0975 7.16172C20.9267 3.51936 19.2046 1.77676 17.7831 0.963552C16.7239 0.355352 15.487 0.0273348 14.1066 0H14.0588C14.052 0 14.0383 0 14.0315 0H13.9904C13.2319 0 11.7422 0.123007 10.3139 0.936217C8.87884 1.74943 7.12942 3.49202 6.95857 7.16172C6.91074 7.64691 6.47338 12.7312 9.10436 15.697C10.2934 17.0432 11.913 17.7471 13.9153 17.7813ZM8.78317 7.33256C8.78317 7.31206 8.79 7.29156 8.79 7.27789C9.01552 2.37813 12.4939 1.85193 13.9836 1.85193H14.011C14.0246 1.85193 14.0451 1.85193 14.0656 1.85193C15.9107 1.89293 19.0474 2.64464 19.2592 7.27789C19.2592 7.29839 19.2592 7.31889 19.2661 7.33256C19.2729 7.3804 19.7513 12.0273 17.5781 14.4738C16.7171 15.4442 15.569 15.9225 14.0588 15.9362C14.0451 15.9362 14.0383 15.9362 14.0246 15.9362C14.0109 15.9362 14.0041 15.9362 13.9904 15.9362C12.487 15.9225 11.3321 15.4442 10.4779 14.4738C8.31165 12.041 8.77634 7.37356 8.78317 7.33256Z"
              fill="black"
            />
            <path
              d="M28.0679 26.2144C28.0679 26.2076 28.0679 26.2007 28.0679 26.1939C28.0679 26.1392 28.061 26.0846 28.061 26.0231C28.02 24.67 27.9312 21.506 24.9654 20.4946C24.9449 20.4878 24.9175 20.4809 24.897 20.4741C21.815 19.6882 19.2524 17.9115 19.2251 17.891C18.8082 17.5971 18.2342 17.6996 17.9403 18.1165C17.6465 18.5333 17.749 19.1074 18.1658 19.4012C18.282 19.4832 21.0018 21.3762 24.405 22.2509C25.9973 22.8181 26.1749 24.5197 26.2228 26.0777C26.2228 26.1392 26.2228 26.1939 26.2296 26.2486C26.2364 26.8636 26.1954 27.8135 26.0861 28.3602C24.979 28.9889 20.6396 31.162 14.0383 31.162C7.46426 31.162 3.09753 28.9821 1.98363 28.3534C1.87429 27.8067 1.82646 26.8568 1.84013 26.2418C1.84013 26.1871 1.84696 26.1324 1.84696 26.0709C1.89479 24.5128 2.07247 22.8112 3.66472 22.244C7.0679 21.3693 9.78772 19.4696 9.90389 19.3944C10.3207 19.1005 10.4233 18.5265 10.1294 18.1096C9.83555 17.6928 9.26152 17.5903 8.84467 17.8841C8.81733 17.9046 6.26836 19.6814 3.1727 20.4673C3.14536 20.4741 3.12486 20.4809 3.10436 20.4878C0.138534 21.506 0.0496959 24.67 0.00869375 26.0162C0.00869375 26.0777 0.00869359 26.1324 0.00185989 26.1871C0.00185989 26.1939 0.00185989 26.2007 0.00185989 26.2076C-0.00497381 26.5629 -0.0118074 28.3875 0.350379 29.3032C0.418716 29.4809 0.541722 29.6313 0.705731 29.7338C0.910742 29.8704 5.82417 33.0003 14.0451 33.0003C22.2661 33.0003 27.1795 29.8636 27.3845 29.7338C27.5417 29.6313 27.6715 29.4809 27.7398 29.3032C28.0815 28.3944 28.0747 26.5698 28.0679 26.2144Z"
              fill="black"
            />
          </svg>
          <div class="col-md-12 pt-4">
            <h2 id="username">Oyebola Sodiq Sunday</h2>
          </div>
          <div class="col-md-12 pt-2">
            <h5 id="email">oyebola.sd@yahoo.com</h5>
          </div>
          <div class="col-md-12 pt-2">
            <h5>Male</h5>
          </div>
          <div class="col-md-12 pt-2">
            <h5>Telephone</h5>
          </div>
          <div class="row text-center mt-4 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
              <button
                class="col-12 blue-btn"
                @click="overlayDisplay('profile')"
              >
                Edit Profile
              </button>
            </div>
          </div>
          <div class="row text-center mt-4 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
              <button
                class="col-12 green-btn"
                @click="overlayDisplay('address')"
              >
                Saved Addresses
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClientProfile",
  data() {
    return {
      overlayIsActive: false,
      show: "show",
      displayAddress: "profile",
      passwordType: "password"
    };
  },
  methods: {
    overlayDisplay(type) {
      this.displayAddress = type;
      this.overlayIsActive = !this.overlayIsActive;
    },
    togglePassword() {
      if (this.show === "show") {
        this.show = "hide";
        this.passwordType = "text";
      } else {
        this.show = "show";
        this.passwordType = "password";
      }
      document.getElementById("password").focus();
    }
  }
};
</script>

<style scoped></style>
