<template>
  <div class="container-fluid auth-box-container">
    <div class="row justify-content-center m-md-5 auth-box p-sm-5">
      <transition
        name="fade"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view></router-view>
      </transition>
      <div class="col-12">
        <router-link :to="{ name: 'landing-page' }" class="text-danger d-none d-sm-block">
          <img src="./../../assets/images/left-arrow.svg" alt="" width="16px" />
          home
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "authentication",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      gender: "",
      telephone: "",
      noOfAddressed: 1,
      addressed: []
    };
  },
  methods: {}
};
</script>

<style scoped>

@media screen and (min-width: 576px) {
  .auth-box {
    margin-top: 20vh !important;
    margin-right: 15vw !important;
    margin-left: 15vw !important;
    background-color: #f9fbfe;
    border-radius: 8px;
  }

}
@media screen and (max-width: 576px) {
  .auth-box {
    background-color: #f9fbfe;
  }

}
</style>
