<template>
  <div>
    <GuestNavigation />
  </div>
</template>

<script>
import GuestNavigation from "../../components/guests/GuestNavigation";
export default {
  name: "LandingPage",
  components: { GuestNavigation }
};
</script>

<style scoped></style>
