<template>
  <div class="back-img">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style >
.back-img {
  min-height: 100vh;
  position: absolute;
}

@media screen and (min-width: 576px){
  .back-img {
    /*background: linear-gradient(
      132.2deg,
      #1840aa 8.76%,
      rgba(52, 100, 224, 1) 117.64%
    );*/
    background: linear-gradient(to left top, #6e91e8, #5a7cd9, #4668ca, #3154ba, #1840aa);
  }
}
</style>
