<template>
  <div class="full-page">
    <div class="container-fluid">
      <div class="d-none d-sm-block">
        <sidebar class="sidebar container-fluid" />
      </div>
      <div class="d-block d-sm-none foot-bar-container">
        <Footbar />
      </div>
      <div class="rest-of-page text-left">
        <div class="row">
          <transition name="fade" mode="out-in">
            <router-view class="col-md-12"> </router-view>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "../../../components/users/sidebar";
import Footbar from "../../../components/users/Footbar";

export default {
  name: "ClientHome",
  components: {Footbar, Sidebar }
};
</script>

<style scoped>
.full-page {
  width: 100vw;
}

.rest-of-page {
  background-color: #f3f6f9;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .rest-of-page {
    background-color: #ffffff;
  }

  .foot-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    height: 55px;
    background: #f3f3f3;
  }
}

@media screen and (min-width: 576px) {
  .sidebar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    padding-top: 10vh;
  }

  .rest-of-page {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 170px;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .sidebar {
    width: 270px;
  }

  .rest-of-page {
    padding-left: 270px;
  }
}
</style>
