<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style type="scss">
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.form-control {
  padding: 15px 15px !important;
}

select.form-control {
  padding: 5px 15px !important;
}

.form-control::placeholder {
  font-size: 0.8em !important;
  line-height: 18px !important;
  color: rgba(39, 45, 78, 0.7) !important;
  font-weight: bold;
}

textarea.form-control {
  min-height: 100px !important;
}

.form-header-text {
  font-weight: 900;
  font-size: 1.6em;
  color: #1840aa;
  letter-spacing: 5px;
}

.blue-btn {
  background-color: #1840aa !important;
  border-radius: 8px !important;
  color: white !important;
  font-weight: bolder !important;
  min-height: 40px;
  font-size: 0.7em !important;
  box-shadow: none !important;
  transition: box-shadow 0.4s ease-in-out !important;
}

.blue-btn:hover {
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.25) !important;
}

.blue-btn:active {
  box-shadow: none !important;
}

.white-btn {
  background-color: white !important;
  border-radius: 8px !important;
  color: #597af0 !important;
  font-weight: bolder !important;
  min-height: 40px;
  font-size: 0.7em !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green-btn {
  background-color: #2BAE66FF !important;
  border-radius: 8px !important;
  color: white !important;
  font-weight: bolder !important;
  min-height: 40px;
  font-size: 0.7em !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.grey-btn {
  background-color: #669DB3FF !important;
  border-radius: 8px !important;
  color: white !important;
  font-weight: bolder !important;
  min-height: 40px;
  font-size: 0.7em !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.red-btn {
  background-color: #bb5455 !important;
  border-radius: 8px !important;
  color: white !important;
  font-weight: bolder !important;
  min-height: 40px;
  font-size: 0.7em !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green-auth-text {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 0.9em;
  line-height: 16px;
  color: #25d4d6;
}

.green-auth-text:hover {
  color: #0cd3b9;
  text-decoration: none;
}

.activity-box {
  border-top: 1px solid rgba(154, 159, 191, 0.5);
}

.green-btn:hover {
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.25) !important;
}

.red-btn:hover {
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.25) !important;
}

@media screen and (min-width: 576px) {
  .auth-box {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 576px) {
  .mobile-reg-top {
    background: linear-gradient(
      132.2deg,
      #1840aa 8.76%,
      rgba(52, 100, 224, 1) 117.64%
    );
  }

  .mobile-reg-bottom {
    background: white;
    border-radius: 20px 20px 0 0;
    overflow-y: scroll;
  }

  .blue-btn {
    box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.25) !important;
  }

  .blue-btn:active {
    box-shadow: none !important;
  }
}

a {
  text-decoration: none !important;
}

.text-danger {
  font-weight: bolder;
  color: #d33f3f !important;
  letter-spacing: 2px;
}

.password-div {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: #1840aa;
  font-weight: bolder;
}

.form-control,
select {
  height: 45px !important;
  font-family: "Open Sans", serif !important;
  font-weight: bolder !important;
  font-size: 15px !important;
  line-height: 15px !important;
  color: #23314e !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-color: rgba(24, 64, 170, 0.1) !important;
  transition: border 550ms ease-out !important;
}

select:focus {
  border-width: 0 0 1px 0 !important;
  border-color: rgba(24, 64, 170, 0.7) !important;
}

.form-control:focus {
  border-width: 0 0 1px 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: transparent;
  border-color: rgba(24, 64, 170, 0.8) !important;
  font-size: 3em;
}

#close-sidemodal {
  position: absolute;
  top: 3em;
  left: 3em;
}

#close-sidemodal:hover {
  cursor: pointer;
}

#serch-from-butt {
  background-color: #597af0 !important;
  border-radius: 0 100px 100px 0;
  border-style: none;
  color: white !important;
  font-weight: bolder !important;
  height: 40px;
  font-size: 0.8em;
}

.sidemodal {
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  z-index: 9999;
  transition: all 0.6s ease-in-out;
  background-color: white;
}

.sidemodal.active {
  width: 80vw;
}

.sidemodal-hidden {
  display: none;
}

.sidemodal-hidden.sidemodal-display {
  display: block;
  height: 100%;
  padding: 3em;
}

#sidemodal-content {
  padding-top: 5em;
}

#sidemodal-content h5 {
  font-size: 1.2em;
  color: #597af0;
}

@media screen and (max-width: 576px) {
  .sidemodal.active {
    width: 100vw;
  }

  #close-sidemodal {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 1000;
    overflow-y: scroll;
  }

  .sidemodal-hidden.sidemodal-display {
    display: block;
    padding: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #sidemodal-content h5 {
    color: #597af0 !important;
  }
}

@media screen and (min-width: 576px) {
  .sidemodal.active {
    width: calc(100vw - 210px);
  }
  .sidemodal-hidden.sidemodal-display {
    padding-top: 6em;
  }
}

@media screen and (min-width: 1000px) {
  .sidemodal.active {
    width: calc(100vw - 270px);
  }
}


</style>
